/* Establece el tamaño de fuente base para cálculos más fáciles con 'rem' */
html {
    font-size: 10px;
}

/* Estilos globales del cuerpo de la página */
body {
    font-family: 'Georgia', serif;
    font-size: 1.6rem;
    line-height: 1.6;
    text-align: center;
    color: #333;
    margin: 0;
    background-color: #f9f9f9;
}

/* Encabezados h1 y h2 */
h1,
h2 {
    margin-bottom: 0;
}

/* Estilos para el encabezado h1 */
h1 {
    font-size: 4rem;
    color: #2c3e50;
}

/* Estilos para el encabezado h2 */
h2 {
    font-size: 3.25rem;
    color: #2c3e50;
}

/* Estilos para los elementos de enlace 'a' */
a {
    color: #2980b9;
    text-decoration: none;
}

/* Estilos para los enlaces visitados 'a:visited' */
a:visited {
    color: #2980b9;
}

/* Estilos para el ID 'main' (contenedor principal) */
#main {
    margin: 30px 8px;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Estilos para el ID 'image' (imagen principal) */
#image {
    max-width: 100%;
    max-height: 350px;
    display: block;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el ID 'img-div' (contenedor de la imagen) */
#img-div {
    background: #ffffff;
    padding: 10px;
    margin: 0;
    border-radius: 10px;
}

/* Estilos para el ID 'img-caption' (pie de foto de la imagen) */
#img-caption {
    margin: 15px 0 5px;
    font-style: italic;
    color: #555;
}

/* Estilos para el ID 'headline' */
#headline {
    margin: 50px 0;
    text-align: center;
    color: #2c3e50;
}

/* Estilos para las listas no ordenadas 'ul' */
ul {
    max-width: 550px;
    margin: 0 auto 50px;
    text-align: left;
    line-height: 1.6;
    color: #333;
}

/* Estilos para los elementos de lista 'li' */
li {
    margin: 16px 0;
}

/* Estilos para las citas en bloque 'blockquote' */
blockquote {
    font-style: italic;
    max-width: 545px;
    margin: 0 auto 50px;
    text-align: justify;
    border-left: 5px solid green;
    padding-left: 15px;
    color: #555;
}

/* Media Queries */
@media (max-width: 460px) {

    /* Ajustes para h1 en pantallas pequeñas */
    h1 {
        font-size: 3.5rem;
        line-height: 1.2;
    }

    /* Ajustes para el ID 'main' en pantallas pequeñas */
    #main {
        margin: 0;
        padding: 15px;
    }

    /* Ajustes para el ID 'img-caption' en pantallas pequeñas */
    #img-caption {
        font-size: 1.4rem;
    }
}